@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Grotesk:wght@600&display=swap');

/* global styles */
:root{
	--colour-bg-dark: #24272b;
	--colour-bg-normal: #2B2F35;
	--colour-bg-light: #383d45;
	--colour-light: #808080;
	--colour-text-light: #fff;
	--colour-text-dark: #d3d3d3;

	--colour-primary: #00d8ff;
	--colour-secondary: #06ffd9;

	--animation-time: 1s;
	--short-animation-time: 0.1s;
}

body {
	margin: 0;
	background: var(--colour-bg-normal);
	min-height: 100vh;
	font-family: 'Space Grotesk', sans-serif;
}


/* header */

header {
	overflow: hidden;
	background-color: var(--colour-bg-dark);
	/* padding: 20px 10px; */
	border-bottom: 1px solid var(--colour-light);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 15;
	position: relative;
}

.logo > img {
	border-radius: 5px;
	width: 64px;
	height: 64px;
	display: block;
}

.title {
	color: var(--colour-text-light);
	font-size: 40px;
	margin: 0;
	height: min-content;
}

.menu {
	width: 64px;
	cursor: pointer;
	height: 64px;
}

.menu>img{
	width: 100%;
	display: block;
}

#menuCheckbox{
	display: none;
}

header > a,
header > label{
	padding: 20px 10px;
}

/* menu */

.burger-bar{
	transform-origin: center;
	transition: transform var(--animation-time);
}

#menuCheckbox:checked + header > label .burger-menu .burger-bar.top{
	transform: rotate(45deg) translate(0,calc(4 / 18 * 100%));
}

#menuCheckbox:checked + header > label .burger-menu .burger-bar.mid{
	transform: rotate(45deg);
}

#menuCheckbox:checked + header > label .burger-menu .burger-bar.low{
	transform: rotate(315deg) translate(0,calc(4 / 18 * -100%));
}

#menuCheckbox:checked + header > label .burger-menu{
	transform: rotate(180deg);
	/* transform: rotate(360deg); */
	/* transform: rotate(720deg); */
	/* transform: rotate(1080deg); */
	/* transform: rotate(2160deg); */
}

.burger-menu{
	transition: transform var(--animation-time);
	width: 100%;
	color: var(--colour-text-light);
	transform-origin: center;
}

#menuCheckbox:not(:checked) ~ .menu-content{
	transform: translateY(-100%);
}
.menu-content{
	display:flex;
	flex-direction: column;
	background:var(--colour-bg-dark);
	position:absolute;
	z-index: 10;
	width:20em;
	height:min-content;
	border: 1px solid var(--colour-light);
	border-top: none;
	border-bottom: none;
	right: 0;
	transform: translateY(0);
	transition: transform var(--animation-time);
}
#menuCheckbox:checked ~ .menu-content{
	animation: slide var(--animation-time);
	display:flex;
}
#menuCheckbox:not(:checked) ~ .menu-content.hidden{
	display: none;
}
@keyframes slide {
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0);
	}
}

.menu-link-button{
	padding: 0.5em 0;
	width:100%;
	height:min-content;
	background:var(--colour-bg-normal);
	text-align:center;
	color:var(--colour-text-light);
	border-bottom: 1px solid var(--colour-light);
	text-decoration: none;
}

/* main */

main{
	display: flex;
	gap: 3em;
	padding: 3em;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* panels */

.panel {
	width: 18em;
	background: var(--colour-bg-light);
	opacity: 70%;
	font-size: 1.2rem;
	border: 1px solid var(--colour-light);
	transition: scale var(--short-animation-time),opacity var(--short-animation-time);
	padding: 0.5em;
}

.panel:hover {
	scale: 1.05;
	opacity: 100%;
}

.panel-title {
	text-align: center;
	padding: .25em;
	cursor: default;
	color: var(--colour-text-light);
}

.panel-description {
	text-align: center;
	margin: 0;
	cursor: default;
	color: var(--colour-text-dark);
	font-family: 'Roboto', sans-serif;
}